body{
margin:0;
font-family:Arial;
}

.login-container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:#0f172a;

}

.login-card{

width:360px;

background:white;

padding:35px;

border-radius:15px;

box-shadow:0 10px 30px rgba(0,0,0,.3);

text-align:center;

}

.subtitle{

color:gray;

margin-bottom:25px;

}

input{

width:100%;

padding:12px;

margin-top:15px;

border-radius:8px;

border:1px solid #ccc;

box-sizing:border-box;

}

.password-box{

position:relative;

}

.eye-btn{

position:absolute;

right:10px;

top:22px;

border:none;

background:none;

cursor:pointer;

font-size:18px;

}

.login-btn{

width:100%;

padding:12px;

margin-top:20px;

border:none;

background:#2563eb;

color:white;

border-radius:8px;

font-size:16px;

cursor:pointer;

}

.login-btn:hover{

background:#1d4ed8;

}

.bottom-text{

margin-top:20px;

}

.bottom-text a{

text-decoration:none;

font-weight:bold;

color:#2563eb;

}