<h1>Practice Problems</h1>


<div class="search-section">

  <input
    type="text"
    placeholder="🔍 Search Question..."
    [(ngModel)]="searchText"
    (ngModelChange)="filterQuestions()"
  />


  <select
    [(ngModel)]="selectedDifficulty"
    (ngModelChange)="filterQuestions()"
  >

    <option value="">
      All Difficulties
    </option>

    <option value="Easy">
      Easy
    </option>

    <option value="Medium">
      Medium
    </option>

    <option value="Hard">
      Hard
    </option>

  </select>

</div>


<!-- LOADING -->

<div *ngIf="loading">

  <p>Loading questions...</p>

</div>


<!-- QUESTION COUNT -->

<p *ngIf="!loading">

  Questions loaded:
  {{ filteredQuestions.length }}

</p>


<!-- NO QUESTIONS -->

<div
  *ngIf="
    !loading &&
    filteredQuestions.length === 0
  "
>

  <h2>
    No questions found
  </h2>

</div>


<!-- QUESTIONS -->

<div
  class="question-list"
  *ngIf="
    filteredQuestions.length > 0
  "
>

  <div
    class="question-card"
    *ngFor="
      let question of filteredQuestions;
      let i = index
    "
  >

    <div class="question-header">

      <h2>
        {{ question.title }}
      </h2>


      <span
        class="difficulty"
        [ngClass]="
          question.difficulty?.toLowerCase()
        "
      >

        {{ question.difficulty }}

      </span>

    </div>


    <p class="description">

      {{ question.description }}

    </p>


    <div class="question-footer">

      <span class="language">

        💻 {{ question.language }}

      </span>


      <button
        type="button"
        (click)="solveQuestion(i)"
      >

        Solve →

      </button>

    </div>

  </div>

</div>